<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Víctor Riveros R."/>
    <!-- TODO Configurar las variables de entorno url, descripcion y title -->
    <title></title>
     <link rel="stylesheet" href="http://localhost:3000/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/main.css">
</head>
<body>
    {{{body}}}
    <script type="module" src="http://localhost:3000/jquery/jquery.min.js"></script>
    <script type="module" src="http://localhost:3000/bootstrap/bootstrap.min.js"></script>
    <script type="module" src="http://localhost:3000/js/main.js"></script>
</html>