   <h1>Skate Park</h1>
    <div class="py-4">
      <h2>Lista de participantes</h2>
        <hr />
         {{> skaters/partials/skatersList }}
      <a href="#">Iniciar Sesión</a> |
      <a href="#">Registrarme</a>
    </div>